<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Arts School a Educational Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!--//fonts-->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/chocolat.css" rel="stylesheet">
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Arts School Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->	
<!-- js -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- js -->
<script src="js/modernizr.custom.97074.js"></script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
<!-- start-smoth-scrolling -->
</head>
<body>

<!-- banner-slider -->

<div class="clearfix"></div>

<div class="gallery" id="gallery">
	<div class="container">
		<h3 class="tittle">GALLERY</h3>
			<div class="gallery-bottom">
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
							<a href="images/18.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/18.jpg" alt="" class="img-responsive">
								<div class="mask">
									<p>View full screen image</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
						   <a href="images/21.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/21.jpg" alt="" class="img-responsive">
								<div class="mask">
									<p>View full screen image</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
							<a href="images/24.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/24.jpg" alt="" class="img-responsive">
								<div class="mask">
									<p>View full screen image</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
						   <a href="images/23.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/23.jpg" alt="" class="img-responsive">
								<div class="mask">
									<p>View full screen image</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						 <div class="view view-fifth">
							<a href="images/22.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/22.jpg" alt="" class="img-responsive">
								<div class="mask">
									<p>View full screen image</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
							<a href="images/25.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/25.jpg" alt="" class="img-responsive">
								<div class="mask">
									<p>View full screen image</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
							<a href="images/g1.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/g1.jpg" alt="" class="img-responsive">
								<div class="mask">
									<p>View full screen image</p>
								</div>
							</a>
						</div>
					</div>
					
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
							<a href="images/g3.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/g3.jpg" alt="" class="img-responsive">
								<div class="mask">
									<p>View full screen image</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
						   <a href="images/g2.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/g2.jpg" alt="" class="img-responsive">
								<div class="mask">
									<p>View full screen image</p>
								</div>
							</a>
						</div>
					</div>
					<div class="clearfix"> </div>
			</div>
				<script src="js/jquery.chocolat.js"></script>
			
			<!--light-box-files -->
			<script type="text/javascript">
			$(function() {
				$('.gallery a').Chocolat();
			});
			</script>

	</div>
</div>
<!-- //gallery -->
<!-- contact -->
	

<!-- //contact -->

<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>